* {
  font-size: 12px;
}
html,
body,
#App,
#App > div {
  text-align: center;
  background-image: url("../src/assets/img/grapes.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 0px;
}

@media screen and (min-width: 280px) {
  .search-box {
    min-width: 50px !important;
    width: 50%;
  }
  .results-filter {
    width: 44px !important;
  }
  * {
    font-size: 9px;
  }
}
@media screen and (min-width: 320px) {
  .search-box {
    min-width: 66px !important;
    width: 58%;
  }
  .results-filter {
    width: 46px !important;
  }
  * {
    font-size: 10px;
  }
}
@media screen and (min-width: 360px) {
  .search-box {
    width: 60% !important;
  }
  .results-filter {
    width: 48px !important;
  }
}
@media screen and (min-width: 600px) {
  .search-box {
    width: 50% !important;
  }
  .results-filter {
    width: 46px !important;
  }
}
@media screen and (min-width: 700px) {
  .search-box {
    width: 60% !important;
  }
  .results-filter {
    width: 50px !important;
  }
}
.blk-border-1 {
  border: 1px solid black !important;
}
.card {
  padding: 24px;
}
.errors {
  color: red;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.filters {
  margin-top: 80px !important;
}
.filters span {
  margin-right: 2px;
}
img {
  opacity: 0.5;
}
.header-spacer {
  height: 24px;
  width: 100%;
}
#header {
  color: purple;
  font-size: 4vh;
  font-style: italic;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
.pagination {
  margin-top: 16px;
  margin-bottom: 16px;
  float: right;
  cursor: default;
}
.pagination .MuiButtonBase-root {
  min-width: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  font-size: inherit;
}
.pagination .MuiButtonBase-root:first-of-type {
  margin-right: 5px !important;
}
.pagination .MuiButtonBase-root:last-of-type {
  margin-left: 5px !important;
}
.review-count {
  height: 200px;
  border: 2px solid black;
}
.review-count:first-of-type span {
  font-size: 12vw;
}
.review-form:first-of-type h1 {
  font-size: 3vh;
  float: left;
}
.review-form > * {
  margin-top: 8px !important;
}
.review-form .MuiButtonBase-root {
  float: right;
  margin: 0 5px;
}
