.App {
  text-align: center;
}

.pagination {
  margin-top: 16px;
  margin-bottom: 16px;
  float: right;
  cursor: default;
}

.pagination .MuiButtonBase-root {
  min-width: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  font-size: inherit;
}
.pagination .MuiButtonBase-root:first-of-type {
  margin-right: 5px !important;
}
.pagination .MuiButtonBase-root:last-of-type {
  margin-left: 5px !important;
}
